<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT article ANY>
<!ATTLIST article id ID #REQUIRED>
<!ELEMENT master ANY>
<!ATTLIST master id ID #REQUIRED>
<!ELEMENT layout ANY>
<!ATTLIST layout id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT editorial ANY>
<!ATTLIST editorial id ID #REQUIRED>
<!ELEMENT titlePart ANY>
<!ATTLIST titlePart id ID #REQUIRED>
<!ELEMENT linkPart ANY>
<!ATTLIST linkPart id ID #REQUIRED>
<!ELEMENT contact ANY>
<!ATTLIST contact id ID #REQUIRED>
<!ELEMENT BannerPart ANY>
<!ATTLIST BannerPart id ID #REQUIRED>
<!ELEMENT CopyPart ANY>
<!ATTLIST CopyPart id ID #REQUIRED>
<!ELEMENT textPart ANY>
<!ATTLIST textPart id ID #REQUIRED>
<!ELEMENT heroBanner ANY>
<!ATTLIST heroBanner id ID #REQUIRED>
<!ELEMENT callToAction ANY>
<!ATTLIST callToAction id ID #REQUIRED>
]>
<root id="-1">
  <home id="1153" key="5b655878-ed42-4331-b1f3-25c6dea6523c" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2019-09-18T18:09:36" updateDate="2019-09-18T18:09:36" nodeName="Home" urlName="home" path="-1,1153" isDoc="" nodeType="1152" creatorName="tiffany" writerName="tiffany" writerID="0" template="1151" nodeTypeAlias="home" isPublished="true">
    <article id="1178" key="7f5b327f-06dd-4f1c-bf30-00cac579d2c4" parentID="1153" level="2" creatorID="0" sortOrder="0" createDate="2019-09-23T18:33:00" updateDate="2019-09-23T18:33:33" nodeName="Test1" urlName="test1" path="-1,1153,1178" isDoc="" nodeType="1176" creatorName="tiffany" writerName="tiffany" writerID="0" template="0" nodeTypeAlias="article" isPublished="true">
      <title><![CDATA[Article 1]]></title>
      <banner><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "src": "/media/1001/406518.jpg",
  "crops": [
    {
      "alias": "Large",
      "width": 1800,
      "height": 100
    },
    {
      "alias": "Medium",
      "width": 800,
      "height": 100
    },
    {
      "alias": "Small",
      "width": 600,
      "height": 100
    },
    {
      "alias": "Very Small",
      "width": 350,
      "height": 100
    }
  ]
}]]></banner>
      <text><![CDATA[<p>ds;lfkmds;fmds d;fmds;fms;dfms</p>]]></text>
    </article>
  </home>
</root>