@inherits UmbracoViewPage<Editorial>
@using CogentDemo.Code.DocumentTypes;
@using CogentDemo.Code.Models.ViewModels;
@{
    Layout = "Layout.cshtml";
    var editorial = new EditorialViewModel()
    {
        Editorial = Model,
        Articles = Model.Children.Select(x => new Article(x)).ToList(),
        HasPaging = true,
        IsHalfWidth = true,
        ItemsToShow = 4
    };
}
<section class="section">
    <div class="container">
        @Html.Partial("~/Views/Partials/Articles.cshtml", editorial)
    </div>
</section>