@inherits UmbracoViewPage<Layout>

@using CogentDemo.Code.DocumentTypes;

@{
    /**/

    Layout = "Master.cshtml";
}

@section Meta
    {
    <meta charset="utf-8">
    <title>Cogent Demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
}

@section headStyles
    {
    <!-- CSS -->
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif:400,400italic,700|Open+Sans:300,400,600,700" rel="stylesheet">
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/bootstrap-responsive.css" rel="stylesheet" />
    <link href="~/css/fancybox/jquery.fancybox.css" rel="stylesheet">
    <link href="~/css/jcarousel.css" rel="stylesheet" />
    <link href="~/css/flexslider.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <!-- Theme skin -->
    <link href="~/skins/Cogent.css" rel="stylesheet" />
    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png" />
    <link rel="shortcut icon" href="ico/favicon.png" />
}

@section headScripts
    {
}


@{ Html.RenderPartial("Partials/NavSection"); }

@RenderBody()

@section CGfooter
    {
    <footer>
        <div class="container">
            <div class="row">
                <div class="span3">
                    <div class="widget">
                        <h5 class="widgetheading">Browse pages</h5>
                        <ul class="link-list">
                            <li><a href="Home">Home</a></li>
                            <li><a href="Articles">Articles</a></li>
                            <li><a href="Contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="sub-footer">
            <div class="container">
                <div class="row">
                    <div class="span6">

                    </div>
                    <div class="span6">

                    </div>
                </div>
            </div>
        </div>
    </footer>
}


@section footScripts
    {
    <script src="~/scripts/jquery.js"></script>
    <script src="~/scripts/bootstrap.js"></script>
    <script src="~/scripts/jquery.fancybox.pack.js"></script>
    <script src="~/scripts/jquery.fancybox-media.js"></script>
    <script src="~/js/google-code-prettify/prettify.js"></script>
    <script src="~/scripts/modernizr.custom.js"></script>


    <!-- Template Custom JavaScript File
    <script src="~/scripts/custom.js"></script>-->

}
