@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using CogentDemo.Code.Models;
@using CogentDemo.Code.Controllers
@{
    Layout = "Layout.cshtml";
}
@* the fun starts here *@

<div class="tweets">

    <div class="tweet__grid">

        @{ Html.RenderAction("RenderSpotlights", "SpotlightSurface"); }

    </div>
    <div class="load-more-container">
        <button class="button load-more" id="buttunz">
            <span>Load More</span>
            <div class="spinner"></div>
        </button>
    </div>
</div>
