@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using CogentDemo.Code.Models;
@using CogentDemo.Code.Controllers
@{
    Layout = "Layout.cshtml";
}
@* the fun starts here *@

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<div class="container">
<div class="span12">
    <div class="row">
        <div class="spotlights">
        <ul id="thumbs" class="portfolio">
            <div class="spotlight__grid">

                @{ Html.RenderAction("RenderSpotlights", "SpotlightSurface"); }
            
            </div>

        </ul>
            <div class="load-more-container">
                <button class="button load-more">
                    <span>Load More</span>
                    <div class="spinner"></div>
                </button>
            </div>
        </div>
    </div>
</div>
    </div>


    <script>
        $(document).ready(function () {
            $('.load-more').click(function (e) {
                e.preventDefault();

                $(this).find('span').text('');
                $(this).addClass('loading');
                $(this).find('.spinner').show();

                $.get('/umbraco/surface/spotlightsurface/RenderMoreSpotlights', function (data) {
                    $('.spotlight__grid').append(data);
                    $('.load-more').removeClass('loading');
                    $('.load-more').find('.spinner').hide();
                    $('.load-more').find('span').text('Load More');
                });
            });
        });
    </script>
