@inherits UmbracoViewPage
@using CogentDemo.Code.DocumentTypes;
@using System.Linq

@{
    /**/

    string imageId = "nestedContent";
    IEnumerable<IPublishedContent> image = Umbraco.AssignedContentItem.GetPropertyValue<IEnumerable<IPublishedContent>>(imageId);

    if (image != null)
    {
        foreach (IPublishedContent item in image)
        {
            string imagetitle = item.GetPropertyValue<string>("Title");
            string imagesubtitle = item.GetPropertyValue<string>("Subtitle");
            var imageUrl = item.GetPropertyValue<IPublishedContent>("Image");

            if (imageUrl != null)
            {
                <section id="content">
                    <div class="container">
                        <div class="row">
                            <div class="span8">
                                <img src="@imageUrl.Url" alt="" style="background-image:url('@imageUrl.Url');" />
                            </div>
                        </div>
                    </div>
                </section>
            }
        }
    }
}

